<div id="Redspot"></div>
<%= stylesheet_link_tag "redspot-#{Redmine::Plugin.find('redspot').version}", :plugin => 'redspot' %>
<%= javascript_include_tag "redspot-#{Redmine::Plugin.find('redspot').version}", :plugin => 'redspot' %>
