// Default Redmine Theme
$background-color: #fff !default
$primary-color: #507aaa !default
$secondary-color: #2c4056 !default

$text-color: $secondary-color !default
$link-color: $primary-color !default
$icon-color: rgba($text-color, 0.5) !default
$focus-background: $primary-color !default
$focus-color: $background-color !default
$help-background: #eee !default
$result-background: #f5f5f5 !default
$border: 1px solid #d6d6d6 !default
$border-radius: 1px !default
$box-shadow: 2px 2px 0 rgba(#000, 0.5) !default

$font-family: 'Trebuchet MS', -apple-system, BlinkMacSystemFont, sans-serif !default
$help-font-family: monospace !default
$font-size: 14px !default


.Redspot,
.Redspot *
  box-sizing: border-box
  margin: 0
  padding: 0
  font-size: 1em
  font-family: inherit
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: grayscale

// Input and closed state
.Redspot
  position: fixed
  top: 40%
  left: 50%
  width: 36em
  border-radius: $border-radius
  overflow: hidden
  font-size: $font-size
  font-family: $font-family
  color: $text-color
  transform: translateX(-50%)
  border: $border
  background-color: rgba($background-color,0.9)
  box-shadow: $box-shadow
  a
    color: $primary-color
    text-decoration: none
  &__icon
    position: absolute
    height: 1.75em
    width: 1.75em
    top: 1.325em
    left: 1.325em
    #zoom
      fill: $icon-color
  &__submit
    display: none
  &__input
    width: 100%
    padding: 0.5em 1em 0.5em 2.4em
    -webkit-appearance: none
    border: 0
    font-size: 2em
    font-weight: 300
    color: $text-color
    background-color: rgba($background-color,0.75)
    outline: none
    box-shadow: 0 1px 0 0 rgba(#fff,0.1)
    &::-webkit-input-placeholder
      color: rgba($text-color,0.5)
  &__actionLabel
    position: absolute
    right: 2em
    top: 2em
    padding: 0.25em 0.5em
    font-size: 0.75em
    font-weight: 500
    border-bottom: 3px

  // List of opened state
  .Redspot
    &__results
      display: flex
      flex-flow: row nowrap
      height: 12.5em
    &__resultList
      flex: 1 0 50%
      width: 50%
      overflow: auto
      background-color: $result-background
    &__help
      flex: 1 0 50%
      width: 50%
      overflow: auto
      display: flex
      flex-flow: column
      justify-content: space-between
      padding: 1em 1.5em
      font-size: 0.875em
      list-style: none
      color: rgba($text-color, 0.75)
      background-color: $help-background
    &__docLink
      display: block
      text-align: right
      text-transform: uppercase
      margin-bottom: 1em
      &:hover
        color: lighten($primary-color, 10)
    &__shortDoc
      font-family: $help-font-family
    &__tips
      position: absolute
      right: 2em
      top: 1.25em
      font-size: 0.75em
      display: flex
      margin: 0 -0.5em
    &__tip
      flex: 1 1 auto
      padding: 0.5em
      margin: 0.5em
      text-align: center
      text-transform: uppercase
      background-color: rgba(#000, 0.1)
      border: 1px solid $primary-color
      &:hover
        color: $text-color
        background-color: $primary-color
    &__project
      display: block
      height: 2em
      line-height: 2em
      padding: 0 1em
      font-size: 1em
      font-weight: 300
      color: rgba($text-color, 0.6)
      white-space: nowrap
      overflow: hidden
      // Prevent hover flickering on retina display
      // transform: translate3d(0,0,0)
      &--focused
        opacity: 1
        color: $focus-color
        background-color: $focus-background
        outline: none

    &__resultLinks
      flex: 1 0 50%
      display: flex
      flex-flow: row wrap
      li
        flex: 1 0 50%
        display: flex
        align-items: center
        justify-content: center
      a
        display: block
        padding: 1em
        text-align: center
        color: #fff
        font-weight: 600
        text-transform: uppercase
        text-decoration: none

.loading
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  display: inline-block
  vertical-align: middle
  position: relative
  margin-right: 3em
  font-size: 10px
  width: 2.8em
  height: 2.8em
  border-radius: 50%
  &:before
    content: ""
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    border-radius: 50%
    border: 3px solid transparent
    border-left-color: #fff
    border-top-color: #fff
    animation: spin 1s infinite ease-in-out


.Redspot

  .appear-enter-active, .appear-leave-active
    transition: all 0.15s ease-in-out
  .appear-enter, .appear-leave-to
    opacity: 0
    transform: translateY(2em)

  .list-enter-active, .list-leave-active
    transition: all 0.15s ease-in-out
  .list-enter, .list-leave-to
    opacity: 0

  .tip-enter-active, .tip-leave-active
    transition: all 0.35s ease-in-out
  .tip-enter, .tip-leave-to
    opacity: 0
    transform: translateX(-2em)

  .result-enter-active, .result-leave-active
    transition: all 0.15s ease-in-out
  .result-enter, .result-leave-to
    opacity: 0
    height: 0
